<h1>Dbz Personajes</h1>
<hr>

<div class="row">
  <div class="col">
    <!-- ?Cambiamos la manera de jalar los datos ya que ahora se utiliza una
    ? inyeccion, por lo que se convierte en un atributo -->
    <dbz-list [characterList] = "characters"
      (onDelete)="onDeleteCharacter($event)"></dbz-list>
  </div>

  <div class="col">
    <!-- Escribimos $event porque es la manera de que nuestro componente reciba un
      una emision -->
    <dbz-add-character (onNewCharacter)="onNewCharacter($event)"></dbz-add-character>
  </div>|
</div>
