<h1>DragonBall Page</h1>
<hr>

<section class="row">
  <div class="col-12 col-sm-6" >
    <!--? Aqui agregamos el evento para recibir el output del add component
      debemos poner siempre un $event.
      debido a que el evento lo debemos pasar al componente general, se agrega el metodo
      al que se va a enviar. En este caso el addCharacter -->
    <dragonball-character-add
    (newCharacter)="dragonballService.addCharacter($event)"
    />
  </div>

  <div class="col-12 col-sm-6">
    <dragonball-character-list
    listName="Listado de Personajes"
    [characters]="dragonballService.characters()"/>
  </div>
</section>
