
<h1>{{name}}</h1>

<dl>
  <td>Nombre:</td>
  <dd>{{name}}</dd>

  <td>Edad:</td>
  <dd>{{age}}</dd>
  <!-- Imprimomos un metodo de nuestro ts-->
  <td>Método:</td>
  <dd>{{getHeroDescription()}}</dd>
<!--   Imprimimos una propiedad de la clase heroe-->
  <td>Capitalizado:</td>
  <dd>{{capitalizedName}}</dd>

</dl>

<!-- ngIf sirve para darle condiciones al boton y que se desaparezca o destruya  -->
<button
*ngIf="name!=='Batman'"
class="btn btn-primary mx-2"
(click)="changeHero()">
Cambiar nombre
</button>

<button
*ngIf="age !== 20"
class="btn btn-primary mx-2"
(click)="changeAge()">
Cambiar edad
</button>

<button
class="btn btn-primary"
(click)="resetForm()">
Reiniciar formulario
</button>
